<template>
    <div class="image py-2">
        <!-- <div class="owl-carousel owl-theme">
            <img class="owl-slide" v-for="(image, key) in images" :key="key" :src="image" alt="Owl Image">
        </div> -->
        <div class="owl-carousel owl-theme">
            <!-- <img class="owl-slide" v-for="(image, key) in images" :key="key" :src="image" alt="Owl Image"> -->
            <div class="owl-slide" v-for="(image, key) in images" :key="key" :style="{ backgroundImage: 'url(' + image + ')' }"></div>
        </div>

        <div class="customNavigation">
            <a class="btn prev">Previous</a>
            <a class="btn next">Next</a>
        </div>
    </div>
</template>

<script>

    import 'owl.carousel/dist/assets/owl.carousel.css';
    import 'owl.carousel';

    export default {

        props:[
            'itemImages'
        ],

        data() {
            return {
                images: JSON.parse(this.itemImages)
            }
        },

        mounted() {
            this.startSlider();
        },

        methods: {
            startSlider(){

                var owl = $('.owl-carousel');
                owl.owlCarousel({
                    navigation : true, // Show next and prev buttons
                    slideSpeed : 300,
                    paginationSpeed : 400,
                    items : 1,
                    itemsDesktop : false,
                    itemsDesktopSmall : false,
                    itemsTablet: false,
                    itemsMobile : false
                });

                // Custom Navigation Events
                $(".next").click(function(){
                    owl.trigger('next.owl');

                })
                $(".prev").click(function(){
                    owl.trigger('prev.owl');
                })
            }
        },
    }
</script>

<style scoped>

    .owl-theme .owl-dots{
        text-align: center;
    }

    .owl-theme .owl-dots .owl-dot span {
        background: none repeat scroll 0 0 #869791!important;
        border-radius: 20px!important;
        display: block!important;
        height: 12px!important;
        margin: 5px 7px!important;
        width: 12px!important;
    }

    .owl-theme .owl-dots .owl-dot.active span {
        background-color: #673AB7!important;
        border: 2px solid #673AB7!important;
    }

    .owl-slide{
        height: 450px!important;
        background: no-repeat;
        background-size: contain;
        justify-content: center;
    }

    @media screen and (max-width:1220px) {
        .owl-slide{
            height: 250px!important;
        }
    }

    .customNavigation{
        text-align: center;
    }

    .customNavigation a{
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
</style>
