<template>
    <div class="row">

        <div class="col-lg-3">

            <div id="item-filters" class="card text-left my-2">

                <div class="card-body text-center">
                    <h4 class="card-title filter-name">
                        Filter Sieraden
                    </h4>

                    <span @click="toggleFilter(filters)" class="col-2 btn btn-sm">
                        <font-awesome-icon v-if="filters.visible === true" :icon="['fa', 'chevron-up']" />
                        <font-awesome-icon v-else :icon="['fa', 'chevron-down']" />
                    </span>
                </div>
            </div>

            <div v-if="filters.visible === true">

                <category-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.category]" :filter-checks="[...fetchedFilters.categories]"></category-filter>
                <color-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.color]" :filter-checks="[...fetchedFilters.colors]"></color-filter>
            </div>
        </div>

        <div id="item-offers" class="col-lg-9">

            <div class="card my-2 p-4">
                <h3 class="text-center">Zoek een sieraad:</h3>
                <input type="search" v-model="searchProduct" placeholder="Zoek sieraden op naam.." class="product-search" @input="isTyping = true">
            </div>

            <div class="row products">

                <div :class="(item == 'banner') ? 'col-12' : 'col-xl-4'"
                v-for="(item, index) in fetchedItems" :key="index" data-aos="fade-up">

                    <div v-if="item == 'banner'" class="banner-wide pb-4 col-md-12" >
                        <a class="banner-wide-link" href="https://www.bol.com/nl/m/sale-solden/?promo=Head_907_Mnav_1_CRS_salesolden20_5" target="_blank">
                            <img class="banner-wide-image img-fluid" src="https://s.s-bol.com/nl/upload/images/pages/campagne/2020/sale-solden-januari/30558_SALE_mhp-header.jpg" alt="banner">
                        </a>
                    </div>

                    <figure v-else class="card card-product px-2 mb-4">

                        <article>
							<a @click="itemPage(item.name_slug)"><img :src="itemImage(item.images)"></a>
							<h3><a @click="itemPage(item.name_slug)">{{ item.name }}</a></h3>
							<h4><a @click="itemPage(item.name_slug)">€ {{ item.price }}</a></h4>
							<a @click="itemPage(item.name_slug)" class="btn-add mb-2">Bekijk dit item</a>
                            <add-to-cart
                                :item-id="item.prod_item"
                                :item-name="item.name"
                                :item-price="item.price"
                                :post-url="'/cart'"
                                :button-text="'Add to cart'"
                                :button-css="'btn-add mb-2'"
                            ></add-to-cart>
						</article>
                    </figure>
                </div>

                <infinite-loading :identifier="infiniteId" @infinite="infiniteHandler" class="col-12">
                    <span slot="no-more">
                        Alle sieraden zijn geladen ✅
                    </span>
                    <span slot="no-results">
                        Geen sieraden gevonden voor deze zoekopdracht
                    </span>
                    <span slot="error">
                        Er heeft zich een fout voor gedaan bij het laden van de sieraden
                        <button @click="infiniteHandler" class="btn btn-sm">Probeer het opnieuw</button>
                    </span>
                </infinite-loading>
            </div>
        </div>
    </div>
</template>

<script>

    import axios from 'axios';
    import InfiniteLoading from 'vue-infinite-loading';
    Vue.use(InfiniteLoading);

    import AOS from 'aos';
    import 'aos/dist/aos.css';
    AOS.init();

    var qs = require('qs');
    const api = '/api/rbb/items';

    export default {

        data(){
            return {
                offset: 0,
                infiniteId: +new Date(),
                fetchedItems: [],
                fetchedFilters:{
                    categories: [],
                    colors: [],
                },
                isTyping: false,
                searchProduct: '',
                filters:{
                    visible: true,
                    category:{
                        name: 'category',
                        checks: [],
                        visible: false
                    },
                    color:{
                        name: 'color',
                        checks: [],
                        visible: false
                    },
                },
            }
        },

        created() {
            this.fetchFilters();
        },

        methods: {

            infiniteHandler($state) {

                axios.get(api, {
                    params: {
                        search: this.searchProduct,
                        categoryChecks: this.arrayParam(this.filters.category.checks),
                        colorChecks: this.arrayParam(this.filters.color.checks),
                        offset: this.offset,
                    },
                    paramsSerializer: function(params) {

                        return qs.stringify(params, {arrayFormat: 'repeat'})
                    },
                }).then(({ data }) => {

                    let items = data.data;

                    if (items.length) {
                        this.offset += 24;
                        this.fetchedItems.push(...this.bannerInserter(items));
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            },

            arrayParam: function(arr){
                const param = (arr.length > 0) ? arr.toString() : null
                return param;
            },

            bannerInserter(arr){

                if(arr.length >= 24){
                    arr.push("banner");
                }
                return arr;
            },

            async fetchFilters(){
                const res = await fetch('/api/rbb/filters/items');
                const data = await res.json();

                this.fetchedFilters.categories = data.categories;
                this.fetchedFilters.colors = data.colors;
            },

            itemPage(product){
                let location = `sieraden/${product}`;
                window.open(location, '_blank');
            },

            itemImage(images){
                let image = images[0];

                let search = '\/';
                let replace = '/';
                image = image.replace(search, replace);
                let full_image = `/storage/${image}`;
                return full_image;
            },

            updateFilters() {
                this.offset = 0;
                this.fetchedItems = [];
                this.infiniteId += 1;
            },

            updateCheckboxFilter(filter){

                const filterName = `${filter.name}`;
                const filterChecks = filter.checks;
                const filterVisible = filter.visible;

                const filterBase = this.filters[filterName];
                filterBase.checks = filterChecks;
                filterBase.visible = filterVisible;
            },

            toggleFilter(filter){
                filter.visible = !filter.visible;
            },

            priceOutput(price){

                if(price % 1 !== 0){
                    price = (Math.round(price * 100) / 100).toFixed(2);
                }
                return price.toString().replace(".", ",");;
            }
        },

        watch: {

            searchProduct: _.debounce(function() {

                this.isTyping = false;
            }, 600),
            isTyping: function(value) {

                if (!value) {
                    this.updateFilters();
                }
            },
        },

        components: {
            InfiniteLoading,
        },
    }
</script>

<style scoped>
    img {
        width: 150px;
        height: 120px;
    }
</style>
