
<template>
    <a @click="addToCart()" :class="buttonCss">
        {{ buttonText }}<i class="fas fa-arrow-circle-right"></i>
    </a>
</template>

<script>

    import axios from 'axios';
    import { bus } from '../../app';

    export default {

        props: [
            'itemId',
            'itemName',
            'itemPrice',
            'postUrl',
            'buttonText',
            'buttonCss',
        ],

        data() {
            return {
                itemMessageId: `${this.itemId}-message`
            }
        },

        methods: {

            addToCart(){
                axios.post(this.postUrl, {
                    id: this.itemId,
                    name: this.itemName,
                    price: this.correctPrice(this.itemPrice),
                }).then((response) => {

                    if(response.data.msg != "Item allready added"){

                        if(response.data.msg == "New Item added"){
                            bus.$emit('added-item');
                            bus.$emit('added-item-message', response.data.cart);
                        }
                    } else {
                        bus.$emit('allready-added-message', response.data.cart);
                    }
                })
                .catch((error) => {
                    bus.$emit('add-error-message');
                });
            },

            correctPrice(num){
                let number = num.replace(',', '.');
                return number;
            },
        },
    }
</script>

