<template>
    <div>
        <!-- Modal -->
        <div class="modal fade col-lg-4 ml-auto" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold" :class="'text-' + msg_color">
                            {{ title }}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <p>{{ item }}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button @click="goToCart()" type="button" class="btn btn-primary">Go to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { bus } from '../../app';

    export default {

        data() {
            return {
                title: '',
                msg_color: '',
                item: '',
            }
        },
        created() {

            bus.$on('added-item-message', obj => {
                this.showMessage('Nieuw item toegevoegd', 'success', obj);
            });

            bus.$on('removed-item-message', obj => {
                this.showMessage('Item uit cart verwijderd', 'info', obj);
                this.refreshPage();
            });

            bus.$on('allready-added-message', obj => {
                this.showMessage('Item is al in uw cart', 'warning', obj);
            });

            bus.$on('add-error-message', obj => {
                this.showMessage('Error bij het toevoegen van een item, Probeer het opnieuw.', 'danger');
            });

            bus.$on('remove-error-message', obj => {
                this.showMessage('Error bij het toevoegen van een item, Probeer het opnieuw.', 'danger');
            });
        },

        methods: {
            startModal(){
                $('#exampleModal').on('show.bs.modal', event => {
                    var button = $(event.relatedTarget);
                    var modal = $(this);
                });
            },

            showMessage(title, color, cart = ''){
                this.title = title;
                this.msg_color = color;
                this.item = cart.name;
                $('#modelId').modal('show');
            },

            refreshPage(){
                location.reload(2);
                return false;
            },

            goToCart(){
                let location = `/cart`;
                window.open(location, '_blank');
            }
        },
    }
</script>

<style scoped>
    @media screen and (min-width:992px) {
        #modelId{
            right: 0;
            margin-right: 10px;
            width: 40%;
        }
    }
</style>
