<template>
    <li>
        <a :href="this.cartRoute" target="_blank">
            <span class="ico-products"></span>
            <p class="badge badge-success">{{ count }}</p> products
        </a>
    </li>
</template>

<script>

    import { bus } from '../../app';

    export default {

        props: [
            'cartRoute',
            'cartCount',
        ],

        data(){
            return {
                count: this.cartCount,
                watchCounter: '',
            }
        },

        created() {

            bus.$on('added-item', obj => {
                this.addCartItem();
            });

            bus.$on('removed-item', obj => {
                this.subtractCartItem();
            });
        },

        methods: {

            addCartItem(){
                this.count++;
            },

            subtractCartItem(){
                this.count--;
            },
        },

        watch: {
            count: function(){
                if(window.location.pathname == '/cart' && this.count == 0){
                    let location = `/cart`;
                    window.open(location, '_self');
                }
            }
        },
    }
</script>
