<template>
    <span class="delete"><a @click="removeFromCart()" class="ico-del"></a></span>
</template>

<script>
    import { bus } from '../../app';

    export default {

        props: [
            'postUrl',
            'rowId',
        ],

        methods: {

            removeFromCart(){

                let confirm = this.confirmRemoval("Weet u zeker dat u dit item uit de shopping cart wilt verwijderen");

                if(confirm){
                    axios.post(this.postUrl, {
                        rowId: this.rowId
                    }).then(function (response) {

                        if(response.status == 200){
                            if(response.data.msg == 'Item removed'){

                                let row_id = response.data.id;
                                $('#item-' + row_id).hide('slow');

                                $('#cart-table-info').addClass('text-success');
                                $('#cart-table-info').html('Item succesvol verwijderd');
                                bus.$emit('removed-item');
                            }
                        } else {
                            $('#cart-table-info').addClass('text-danger');
                            $('#cart-table-info').html('Item kon niet worden verwijderd');
                        }
                    })
                    .catch(function (error) {
                        $('#cart-table-info').addClass('text-danger');
                        $('#cart-table-info').html('Item kon niet worden verwijderd');
                    });
                }
            },

            confirmRemoval(text){
                return confirm(text);
            }
        },
    }
</script>
