<template>
    <a @click="removeFromCart()"  :class="buttonCss">
        {{ buttonText }}<i class="fas fa-arrow-circle-right"></i>
    </a>
</template>

<script>
    import { bus } from '../../app';

    export default {

        props: [
            'postUrl',
            'rowId',
            'buttonText',
            'buttonCss',
        ],

        methods: {

            removeFromCart(){

                let confirm = this.confirmRemoval("Weet u zeker dat u dit item uit de shopping cart wilt verwijderen");

                if(confirm){
                    axios.post(this.postUrl, {
                        rowId: this.rowId
                    }).then(function (response) {

                        if(response.status == 200){
                            if(response.data.msg == 'Item removed'){
                                bus.$emit('removed-item');
                                bus.$emit('removed-item-message', response.data.cart);
                            } else {
                                bus.$emit('remove-error-message');
                            }
                        } else {
                            bus.$emit('remove-error-message');
                        }
                    })
                    .catch(function (error) {
                        bus.$emit('remove-error-message');
                    });
                }
            },

            confirmRemoval(text){
                return confirm(text);
            },
        },
    }
</script>

<style scoped>
    .disabled{
        cursor: not-allowed;
        pointer-events: none;
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
</style>
