<template>
    <div class="total-count">
        <h4>Subtotaal: € {{ subTotal }}</h4>
        <p>+bezorgkosten: {{ shippment != 0 ? `€ ${shippment}` : 'Gratis'}}</p>
        <p>+btw(21%): € {{ btw }}</p>
        <h3>Totaalbedrag: <strong>€ {{ cartTotal }}</strong></h3>
        <a href="#" class="btn-grey">Verder naar betalen</a>
    </div>
</template>

<script>

    import { bus } from '../../app';

    export default {

        props: [
            'subTotal',
            'shippment',
            'btw',
            'cartTotal',
        ],
    }
</script>
