<template>
    <vue-carousel :data="data"></vue-carousel>
</template>

<script>

    import Vue from 'vue';
    import VueCarousel from '@chenfengyuan/vue-carousel';
    Vue.use(VueCarousel);

    export default {

        props: [
            'SliderItems',
        ],

        data() {
            return {
                data: this.getSliderItems()
            };
        },

        methods: {

            getSliderItems(){

                const sliders = JSON.parse(this.SliderItems);

                var data = sliders.map((slider, key) => {
                    return `
                    <div class="home-slide" style="background-image: url('${slider.image}')">
                        <h2><span>${slider.name}</span></h2>
                        <h3><span>${slider.sub_text}</span></h3>
                        <a href="${slider.button_link}" class="btn-more">${slider.button_text}</a>
                    </div>
                    `;
                });
                return data;
            },
        },

        components: {
            VueCarousel,
        },
    };
</script>

<style>
    @media screen and (max-width:760px){

        .carousel__indicators{
            top: 150px;
        }
    }

</style>
