<template>
 <div class="container carousel-wrapper">
    <div class="row">
        <div class="owl-carousel owl-theme">
           <div v-for="item in items" :key="item.id" v-html="item"></div>
        </div>
    </div>
    <div class="customNavigation">
        <a class="btn prev">Previous</a>
        <a class="btn next">Next</a>
    </div>
</div>
</template>

<script>

    import 'owl.carousel/dist/assets/owl.carousel.css';
    import 'owl.carousel';

    export default {

        props: [
            'latestItems',
            'postUrl',
        ],

        data(){
            return {
                items: this.getSliders()
            }
        },

        mounted() {
            this.startSlider();
        },

        methods: {

            startSlider(){

                var owl = $('.owl-carousel');
                owl.owlCarousel({
                    center: true,
                    navigation: true,
                    items: 5,
                    loop: true,
                    margin: 10,
                    responsive:{
                        0:{
                            items:1,
                        },
                        600:{
                            items:3
                        },
                        960:{
                            items:5
                        },
                        1200:{
                            items:6
                        }
                    }
                });

                // Custom Navigation Events
                $(".next").click(function(){
                    owl.trigger('next.owl');

                })
                $(".prev").click(function(){
                    owl.trigger('prev.owl');
                })

                owl.on('mousewheel', '.owl-stage', function (e) {

                    if(e.originalEvent.wheelDelta > 0) {
                        owl.trigger('next.owl');
                    }
                    else{
                        owl.trigger('prev.owl');
                    }
                    e.preventDefault();
                });
            },

            getSliders(){

                const items = JSON.parse(this.latestItems);

                var data = items.map((item, key) => {

                    const image = this.itemImage(JSON.parse(item.images));
                    const itemPage = this.itemPage(item.name_slug);

                    return `
                        <article>
                            <img class="latestItemImage" src="${image}" alt="">
                            <h3>${item.name}</h3>
                            <h4>€ ${item.price}</h4>
                            <a href="${itemPage}" class="btn-add">Bekijk Item</a>
                        </article>
                    `;
                });

                return data;
            },

            itemImage(images){

                let image = images[0] ?? '';

                let search = '\/';
                let replace = '/';
                image = image.replace(search, replace);
                let full_image = `/storage/${image}`;
                return full_image;
            },

            itemPage(product){
                let location = `sieraden/${product}`;
                return location;
            },
        },
    }
</script>

+<style scoped>
    .owl-next,.owl-prev{

        border: none;
        position: absolute;
        top:-5px;
        height:50px;
        box-sizing:border-box;
        opacity: 0.3;
        transition: opacity 0.1s;
        vertical-align: center;

        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column; /* column | row */
    }

    .owl-next,.owl-prev:hover {
        opacity: 1;
    }

    .owl-next {
        right: -50px;
    }

    .owl-prev {
        left:-50px;
    }

    .owl-carousel .owl-item img{
        width: 150px!important;
        height:120px!important;
        margin: 0 auto!important;
    }

    .customNavigation{
        text-align: center;
    }

    .customNavigation a{
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
</style>
